@model CheckoutView

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Receipt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>
                <label class="control-label">@Model.LicensePlate</label>
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="persnr" class="control-label"></label>
                <label  class="control-label">@Model.persnr</label>
                <span asp-validation-for="persnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Arrived" class="control-label"></label>
                <span asp-validation-for="@Model.Arrived" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="TotalCost" class="control-label"></label>
                <input asp-for="TotalCost" class="form-control" />
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>
 *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
