
@{
    ViewData["Title"] = "Garage 3.0";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>

</head>
@*
<h1>Index</h1>

<div id="checkimg">Tångsalt</div>*@
<body class="front fade-in">
    <div class="darling">&#11044;</div>
</body>

</html>
