
@{
    ViewData["Title"] = "Garage 3.0";
}

<html>

    <head>
        <meta name="viewport" content="width=device-width" />  
    </head>

    <body class="front fade-in">
        <div class="darling">&#11044;</div>
    </body>

</html>
