
@{
    ViewData["Title"] = "Seed";
}

<h1>Seed @ViewData["AddMembers"] </h1>
<div class="btn-outline-info">Result: 
    @ViewData["Result"]
</div>

<form asp-action="Seed" method="get">
    <label for="AddMembers">Add members</label>
    <input type="text" id="AddMembers" name="AddMembers">
    <input type="submit" value="Submit">
</form>
<form asp-action="Seed" method="get">
    <label for="AddParkingSpots">Add Parking spots</label>
    <input type="text" id="AddParkingSpots" name="AddParkingSpots">
    <input type="submit" value="Submit">
</form>
<form asp-action="Seed" method="get">
    <label for="AddVehicles">Add vehicles(there has to be at least one member and one vehicle type)</label>
    <input type="text" id="AddVehicles" name="AddVehicles">
    <input type="submit" value="Submit">
</form>

<h5><a class="btn btn-outline-dark" href="Seed?AddGarage=true">Add a garage with 4 vehicle types, 50 vehicles, 50 members, 50 parking spots</a></h5>
<h5><a class="btn btn-outline-dark" href="Seed?DropGarage=true">Erase database content</a></h5>




