@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>All Products</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Create New</a>
</p>

<partial name="ProductTablePartial" />

