@model Gitgruppen.Models.OverViewModel


@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>            
        </tr>
    </thead>
    <tbody>
    </tbody>

   <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Type)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Brand)
                </td>
            </tr>
    </tbody>

</table>

