@using GitGruppen.Core;
@model CheckinView

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Check in vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label class="control-label">@Model.licenseplate</label>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class="form-control">
                    @foreach (ParkingSpot p in Model.FreeParkingSpots)
                    {
                        <option value="@p.Id">@p.SpotNo</option>
                    }
                </select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Checkin" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
